name: Deploy to Firebase

on:
  push:
    branches:
      - main  # Alebo n치zov tvojej hlavnej vetvy

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies and build
        run: |
          cd functions
          npm install
          npm run build   # Kontrola k칩du (lint) je odstr치nen치

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only functions
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          PROFESSOR_TELEGRAM_CHAT_ID: ${{ secrets.PROFESSOR_TELEGRAM_CHAT_ID }}
